.bold-button {
  font-weight: bold;
  padding: 5px 10px;
  background-color: #f5f5f5;
  cursor: pointer;

  
  &:hover {
    background-color: #e5e5e5;
  }
  
  &:active {
    background-color: #d5d5d5;
  }
  
  &.active {
    background-color: #ddd;
  }
}
